include CMakeLists.txt
include package.xml
prune data
global-exclude *.npy
recursive-include config *.yaml *.txt
recursive-include docs *.md
recursive-include lib *
recursive-include launch *.py
recursive-include resource *
recursive-include scripts *
recursive-include srv *.srv
